

  <form action="index.php?action=saveKategorie"  method="POST" >	

	  	<input type="hidden"   name="id"     value="###ID###"  >
	  	<input type="text"     name="name"   value="###NAME###"  >
	  	<br>
	  	<textarea name="beschreibung" >###BESCHREIBUNG###</textarea>
        <br>

        <select name="eltern_kat_id" >
        	
        		<option value="0"> -- keine Eltern Kat -- </option>

        		###HTML_OPT###

        </select>

        <br>
	  	<input type="submit"   value="speichern" >

  </form> 

